target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google_checks.xml
!**/src/test/resources/archetype-resources/google_checks.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/google_checks.xml
!**/src/test/resources/archetype-resources/google_checks.xml

### VS Code ###
.vscode/

### Win ###
Thumbs.db
Desktop.ini
